{:dev  {:source-paths ["dev"]
        :env {:http-port 3000
              :nrepl-port nil
              :app-host "http://localhost:3000"
              :spotify-client-id ""
              :spotify-client-secret ""
              :history-watcher-interval 30
              :loggly-api-token ""
              :pg-db "kino"
              :pg-host "localhost"
              :pg-user "kino"
              :pg-pass "kino"
              }}}