{:up   [
        "CREATE TABLE artists (id SERIAL PRIMARY KEY, name VARCHAR(1000) NOT NULL, external_id VARCHAR(255) NOT NULL UNIQUE);

         CREATE TABLE albums (id SERIAL PRIMARY KEY, name VARCHAR(1000) NOT NULL, external_id VARCHAR(255) NOT NULL UNIQUE, img_url VARCHAR(1000), total_tracks INTEGER);

         CREATE TABLE tracks (id SERIAL PRIMARY KEY, name VARCHAR(1000) NOT NULL, external_id VARCHAR(255) NOT NULL UNIQUE, explicit BOOLEAN NOT NULL, track_number INTEGER NOT NULL, album_id INTEGER REFERENCES albums(id) NOT NULL);

         CREATE TABLE users (id SERIAL PRIMARY KEY, external_id VARCHAR(255) NOT NULL, refresh_token VARCHAR(255));

         CREATE TABLE user_plays (user_id INTEGER REFERENCES users(id), track_id INTEGER REFERENCES tracks(id), played_at TIMESTAMP NOT NULL, PRIMARY KEY(user_id, track_id, played_at));

         CREATE TABLE track_artists (track_id INTEGER REFERENCES tracks(id), artist_id INTEGER REFERENCES artists(id), PRIMARY KEY(track_id, artist_id));

        "]
 :down ["
         DROP TABLE user_plays;
         DROP TABLE track_artists;
         DROP TABLE artists;
         DROP TABLE tracks;
         DROP TABLE albums;
         DROP TABLE users;
         "
        ]}